Repository dataaxiom/ghcr-cleanup-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, bundle_action, bundle_ci_tester

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Run formatter.
        entry: 'npm run format:write'
        language: system
        types_or: [ts, json, yaml, markdown]
        require_serial: true
      - id: lint
        name: Run linter.
        entry: 'npm run lint'
        language: system
        types_or: [ts]
        require_serial: true
      - id: bundle_action
        name: Transpile action TS sources.
        entry: 'npm run package'
        pass_filenames: false
        language: system
        types_or: [ts]
        require_serial: true
      - id: bundle_ci_tester
        name: Transpile CI Tester TS sources.
        entry: 'npm run ci-tester'
        pass_filenames: false
        language: system
        types_or: [ts]
        require_serial: true

apply keep-n-tagged to delete-tags if set
  .github/workflows/ci.yml
  dist/index.js
  dist/index.js.map
  src/cleanup-task.ts
  tests/3c_multi-keep-n-tagged/expected-digests
  tests/3c_multi-keep-n-tagged/expected-tags
  tests/3c_multi-keep-n-tagged/prime
Due: format, lint, bundle_action, bundle_ci_tester

enterprise instance support, configurable registry/package api urls
  .github/workflows/ci.yml
  action.yml
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/config.ts
  src/registry.ts
Due: format, lint, bundle_action, bundle_ci_tester

package version upgrades
  .github/workflows/ci.yml
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/config.ts
Due: format, lint, bundle_action, bundle_ci_tester

request-error package upgrade, fail repeating delete package 404's
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/package-repo.ts
Due: format, lint, bundle_action, bundle_ci_tester

README.md updates
  README.md
Due: format

upgrade @types/node package
  package-lock.json
  package.json
Due: format

fix typo
  README.md
Due: format

clarify token setups
  README.md
Due: format

auto enable expand-packages option if wildcard char in use
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/config.ts
Due: format, lint, bundle_action, bundle_ci_tester

Update Node.js version from 20 to 24
  action.yml
Due: format

split up cleanup task
  dist/index.js
  dist/index.js.map
  src/cleanup-orchestrator.ts
  src/cleanup-task.ts
  src/cleanup-types.ts
  src/deletion-strategy.ts
  src/image-deleter.ts
  src/image-filter.ts
  src/image-validator.ts
  src/main.ts
  src/manifest-analyzer.ts
Due: format, lint, bundle_action, bundle_ci_tester

move octokit setup out of config
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/ci-tester.ts
  src/cleanup-orchestrator.ts
  src/config.ts
  src/main.ts
  src/octokit-client.ts
  src/package-repo.ts
Due: format, lint, bundle_action, bundle_ci_tester

implement some unit tests
  .eslintignore
  README.md
  badges/coverage.svg
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  package-lock.json
  package.json
  src/__tests__/cleanup-orchestrator.test.ts
  src/__tests__/config.test.ts
  src/__tests__/deletion-strategy.test.ts
  src/__tests__/image-deleter.test.ts
  src/__tests__/image-filter.test.ts
  src/__tests__/image-validator.test.ts
  src/__tests__/octokit-client.test.ts
  src/__tests__/utils.test.ts
  src/utils.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint, bundle_action, bundle_ci_tester

upgrade package/action version, eslint v8 upgrade
  .devcontainer/devcontainer.json
  .eslintignore
  .github/dependabot.yml
  .github/linters/.eslintrc.yml
  .github/linters/zizmor.yaml
  .github/workflows/check-dist.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/linter.yml
  .node-version
  CONTRIBUTING.md
  README.md
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  eslint.config.js
  package-lock.json
  package.json
  src/__tests__/cleanup-orchestrator.test.ts
  src/__tests__/config.test.ts
  src/__tests__/deletion-strategy.test.ts
  src/__tests__/image-deleter.test.ts
  src/__tests__/octokit-client.test.ts
  src/__tests__/utils.test.ts
  src/ci-tester.ts
  src/config.ts
  src/index.ts
  src/main.ts
  src/octokit-client.ts
  src/package-repo.ts
  tsconfig.json
  vitest.config.ts
Due: format, lint, bundle_action, bundle_ci_tester

fix #110: delete-partial-images should exclude fully ghost images
  dist/index.js
  dist/index.js.map
  src/__tests__/image-validator.test.ts
  src/image-validator.ts
Due: format, lint, bundle_action, bundle_ci_tester

test(6c): expect ghost image to survive delete-partial-images
  tests/6c_partial-images/expected-digests
  tests/6c_partial-images/expected-tags
Due: none

preserve OCI 1.1 subject-bearing referrers during cleanup
  .github/workflows/ci.yml
  dist/index.js
  dist/index.js.map
  src/__tests__/cleanup-orchestrator.test.ts
  src/__tests__/image-deleter.test.ts
  src/__tests__/image-validator.test.ts
  src/__tests__/manifest-analyzer.test.ts
  src/cleanup-orchestrator.ts
  src/image-deleter.ts
  src/image-validator.ts
  src/manifest-analyzer.ts
  tests/bare-oci11-referrer/Dockerfile.image
  tests/bare-oci11-referrer/expected-digests
  tests/bare-oci11-referrer/expected-tags
  tests/bare-oci11-referrer/prime
  tests/cosign-oci11/Dockerfile.image
  tests/cosign-oci11/expected-digests
  tests/cosign-oci11/expected-tags
  tests/cosign-oci11/prime
Due: format, lint, bundle_action, bundle_ci_tester

main: return instead of throwing empty Error after setFailed
  dist/index.js
  dist/index.js.map
  src/main.ts
Due: format, lint, bundle_action, bundle_ci_tester

registry: remove dead getReferrersManifest + stale TODO
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/registry.ts
Due: format, lint, bundle_action, bundle_ci_tester

main: type targetPackages and resultRows instead of implicit any[]
  dist/index.js.map
  src/main.ts
Due: format, lint, bundle_action, bundle_ci_tester

deps: move stdio to devDependencies
  citester/index.js
  citester/index.js.map
  package-lock.json
  package.json
Due: format

registry: drop meaningless this-binding on core.info logger
  dist/index.js
  dist/index.js.map
  src/registry.ts
Due: format, lint, bundle_action, bundle_ci_tester

image-deleter: drop dead ImageDeleter.reset() method
  dist/index.js
  dist/index.js.map
  src/__tests__/image-deleter.test.ts
  src/image-deleter.ts
Due: format, lint, bundle_action, bundle_ci_tester

octokit: always surface errors regardless of log level
  dist/index.js
  dist/index.js.map
  src/__tests__/octokit-client.test.ts
  src/octokit-client.ts
Due: format, lint, bundle_action, bundle_ci_tester

registry: drop unnecessary `as any` on axios-logger interceptors
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/registry.ts
Due: format, lint, bundle_action, bundle_ci_tester

readme: document non-support for nested manifest indexes
  README.md
Due: format

refactor: introduce GhPackage interface, fix id string→number
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/__tests__/image-deleter.test.ts
  src/__tests__/package-repo.test.ts
  src/ci-tester.ts
  src/deletion-strategy.ts
  src/image-deleter.ts
  src/image-filter.ts
  src/image-validator.ts
  src/package-repo.ts
  src/utils.ts
Due: format, lint, bundle_action, bundle_ci_tester

chore: update coverage badge to 94.94%
  badges/coverage.svg
Due: none

refactor: introduce Manifest interfaces, drop any types in registry
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/__tests__/image-deleter.test.ts
  src/__tests__/image-validator.test.ts
  src/__tests__/manifest-analyzer.test.ts
  src/ci-tester.ts
  src/manifest-analyzer.ts
  src/registry.ts
  src/utils.ts
Due: format, lint, bundle_action, bundle_ci_tester

refactor: replace cache-invariant `continue` skips with explicit throws
  badges/coverage.svg
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  src/ci-tester.ts
  src/deletion-strategy.ts
  src/image-deleter.ts
  src/image-filter.ts
  src/image-validator.ts
Due: format, lint, bundle_action, bundle_ci_tester

fix: code-review feedback — consistent cache-invariant throw, stray string id
  badges/coverage.svg
  dist/index.js
  dist/index.js.map
  src/__tests__/package-repo.test.ts
  src/image-filter.ts
Due: format, lint, bundle_action, bundle_ci_tester

security: validate user-supplied regex patterns to prevent ReDoS
  badges/coverage.svg
  citester/index.js
  citester/index.js.map
  dist/index.js
  dist/index.js.map
  dist/licenses.txt
  package-lock.json
  package.json
  src/__tests__/config.test.ts
  src/__tests__/utils.test.ts
  src/config.ts
  src/utils.ts
Due: format, lint, bundle_action, bundle_ci_tester

chore: add husky pre-commit hook for prettier + bundle
  .husky/pre-commit
  package-lock.json
  package.json
Due: format

image-deleter: explain why performUntagging reloads per tag
  dist/index.js
  dist/index.js.map
  src/image-deleter.ts
Due: format, lint, bundle_action, bundle_ci_tester

utils: rename ManifestLayer → ManifestDescriptor
  citester/index.js.map
  dist/index.js.map
  src/utils.ts
Due: format, lint, bundle_action, bundle_ci_tester

orchestrator: throw on run() before reload(), don't silently no-op
  dist/index.js
  dist/index.js.map
  src/__tests__/cleanup-orchestrator.test.ts
  src/cleanup-orchestrator.ts
Due: format, lint, bundle_action, bundle_ci_tester
