Repository dataaxiom/ghcr-cleanup-action: changes, and which pre-commit hooks are due for each by the changed paths.
All: format, lint, bundle_action, bundle_ci_tester

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: format
        name: Run formatter.
        entry: 'npm run format:write'
        language: system
        types_or: [ts, json, yaml, markdown]
        require_serial: true
      - id: lint
        name: Run linter.
        entry: 'npm run lint'
        language: system
        types_or: [ts]
        require_serial: true
      - id: bundle_action
        name: Transpile action TS sources.
        entry: 'npm run package'
        pass_filenames: false
        language: system
        types_or: [ts]
        require_serial: true
      - id: bundle_ci_tester
        name: Transpile CI Tester TS sources.
        entry: 'npm run ci-tester'
        pass_filenames: false
        language: system
        types_or: [ts]
        require_serial: true

ci: gate fork-PR integration tests behind environment approval
  .github/workflows/ci.yml
Due: format

docs: drop repository from the "omitted, defaults to project" line
  README.md
Due: format

test: cover Octokit log handlers, primeManifests referrer walk, regex digest paths
  src/__tests__/image-filter.test.ts
  src/__tests__/manifest-analyzer.test.ts
  src/__tests__/octokit-client.test.ts
Due: format, lint, bundle_action, bundle_ci_tester

chore: update coverage badge to 94.47%
  badges/coverage.svg
Due: none

ci: hoist fork-PR approval gate to a single job (was per matrix entry)
  .github/workflows/ci.yml
Due: format
